{% extends 'base.html' %}

{% block header %}{{ super() }}{% endblock %}

{% block content %}
  <div class="mt-5 mx-5">
    <form method="post">
        <div class="mb-3">
            <label for="title from-label">Title</label>
            <input name="title" id="title" class="form-control shadow-sm" value="{{ todo['title'] }}" required>
        </div>
        <div class="mb-3">
            <label for="body from-label">Content</label>
            <textarea name="body" id="body" class="form-control shadow-sm" style="height: 15rem;" required>{{ todo['body'] }}</textarea>
        </div>
        <div class="mb-3">
            <label name="endtime" class="form-label">End Time</label>
            <input type="date" id="end_time" class="form-control shadow-sm" value="{{ todo['end_time'] }}" required>
        </div>
        <div class="mb-3">
            <label name="endtime" class="form-label">Complete</label>
            <input type="checkbox" id="is_state" class="form-check-input form-control shadow-sm" value="{{ todo['is_state'] }}" required>
        </div>
        <div class="text-center">
            <input type="submit"  value="Change" class="btn btn-primary mt-5 shadow-sm" style="width:10rem">
            <a href="{{ url_for('todo.delete', id=todo.id) }}" class="btn btn-danger mt-5 shadow-sm" style="width:10rem">Delete</a>
        </div>
    </form>
  </div>



{% endblock %}