{% extends 'base.html' %}

{% block header %}{{ super() }}{% endblock %}

{% block content %}
    <form method="post">
      <label for="title">Title</label>
      <input name="title" id="title" type="text" required>
      <label for="body">Body</label>
      <textarea name="body" id="body" required></textarea>
      <label name="endtime">End Time</label>
      <input type="datetime-local" id="endtime" required>
      <input type="submit" value="Register">
    </form>
{% endblock %}

{% block footer %}{{ super() }}{% endblock %}
